main {
    &.page-type-custom {
        background: var(--color-gray-100);

        .main-inner {
            // background: white;
            margin: 0 auto;
            max-width: var(--size-mobile);
            padding: var(--header-height) 0;
            
            > section {
                &.package {
                    border-radius: 3.2rem;
                    box-shadow: var(--shadow-normal);
                    overflow: hidden;
                    background: white;
                }
            }
        }
    }
}