main {
    &.page-type-landing {
        min-height: calc(100dvh - var(--header-height) - var(--footer-height));
        
        .main-inner {
            > article {
    
                // 섹션: 영감
                &#inspiration {
                    position: relative;
                    height: calc(100dvh - var(--header-height) - var(--footer-height));
                    // background: linear-gradient(90deg, transparent,#ffffff1e) 0 0/120px 100%,linear-gradient(90deg,transparent,transparent,transparent) 0 0/100% 100%,linear-gradient(transparent 80%,#095EB954 100%,#ace3f6) 0 0/100% 100%;
    
                    > section {
    
                        // 내용
                        &.contents {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: flex;
                            flex-direction: column;
                            gap: 3.2rem;
    
                            > img {
                                // width: 100%;
                                // max-width: 37.2rem;
                                margin: 0 auto;
                            }
    
                            > h2 {
                                font-size: 3.2rem;
                                color: #4F5B78;
                                text-align: center;
                            }

                            > .test {
                                display: flex;
                                justify-content: center;
                                gap: 1.6rem;

                                > button {
                                    opacity: 1;
                                    background: white;
                                    // color: white;
                                    height: var(--button-height);
                                    font-weight: 500;
                                    box-shadow: 0 1px 1px .5px #2929290a, 0 3px 3px -1.5px #29292905, 0 6px 6px -3px #2929290a, 0 12px 12px -6px #2929290a, 0 24px 24px -12px #2929290a, 0 48px 48px -24px #2929290a, 0 0 0 1px #2929290a, inset 0 -1px 1px -.5px #3333330f;
                                    border: none;
                                    outline: none;
                                    stroke: none;
                                    padding: 0 1.2rem;
                                    border-radius: 1.2rem;
                                }
                            }
    
                        }
                    }
                }
            }
        }
    }
}