main {
    &.page-type-login {
        background: #F3F3F5;

        .main-inner {
            > article {
    
                &#form {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 3.2rem;
                    height: auto;
                    width: 100%;
                    max-width: var(--size-mobile);
                    background: white;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 3.2rem;
                    border-radius: 1.6rem;
                    box-shadow: var(--shadow-normal);
    
                    
                    > section {
                        &.header {
                            > img {
                                width: 18.6rem;
                            }
                        }
                        
                        &.description {
                            width: 100%;
                            display: flex;
                            gap: 0.8rem;
    
                            > hr {
                                flex: 1;
                                border: none;
                            }
                        }
    
                        &.action {
                            display: flex;
                            justify-content: center;
                            gap: 1.6rem;
    
                            > img {
                                width: calc(20% - 1.6rem);
                            }
                        }
    
                    }
                }
            }
        }
    }
}