// 모든 페이지 커서
article {
    &#cursor {
        > section {
            &.cursor {
                position: fixed;
                pointer-events: none;
                border: 5px solid transparent;
                border-radius: 100%;
                
                &.main {
                    mix-blend-mode: difference;
                    background: white;
                    z-index: 100000000;
                    height: 3rem;
                    width: 3rem;
            
                    top: -1.5rem;
                    left: -1.5rem;

                    .description {
                        background: #e8e9f0a7;
                        backdrop-filter: blur(10px);
                        /* width: 100px; */
                        /* height: 20px; */
                        position: absolute;
                        top: calc(1.6rem * 1);
                        left: calc(1.6rem * 2);
                        box-shadow: var(--shadow-normal);
                        border-radius: 1.2rem;
                        padding: 0.4rem;
                        white-space: nowrap;

                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;

                        > h6 {
                            padding: 0.4rem;
                            padding-bottom: 0px;
                            font-size: 1.4rem;
                            color: var(--color-gray-900);
                        }

                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: 0.8rem;
                            background: white;
                            border-radius: 1.2rem;
                            box-shadow: var(--shadow-normal);
                            padding: 0.8rem;

                            > p {
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: var(--color-gray-700);
                                
                                > strong {
                                    color: #ffffff;
                                    padding: 0.2rem 0.4rem;
                                    margin-right: 0.4rem;
                                    border-radius: 0.6rem;
                                    min-width: 5.2rem;
                                    font-size: 1.2rem;
                                    background: var(--color-brand-500);
                                }
                            }
                        }
                    }
                }
            
                // &.sub {
                //     width: 50.0rem;
                //     height: 50.0rem;
                //     z-index: -10000;
                //     background: var(--color-brand-500);
                //     filter: blur(200px) opacity(0.5);
                //     top: -25.0rem;
                //     left: -25.0rem;
                // }
            }
        }
    }
}
