main {
    min-height: 100dvh;
    margin: 0 auto;
    overflow-x: hidden;

    // &::after {
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1;
    //     content: '';
    //     width: 100%;
    //     height: calc(var(--header-height) / 2);

    //     margin: 0 auto;
    //     backdrop-filter: blur(20px);
    //     mask-image: linear-gradient(rgb(0, 0, 0, 0) 0%, rgba(0, 0, 0) 90%);
    // }
}

// .comment-list {
//     &::after {
//         position: absolute;
//         top: 0;
//         left: 0;
//         z-index: -1;
//         content: '';
//         width: 100%;
//         height: var(--header-height);

//         margin: 0 auto;
//         backdrop-filter: blur(20px);
//         mask-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 2.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0));
//         // mask-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 57.5%, rgba(0, 0, 0, 0));
//     }
// }