@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: regular;
	font-display: swap;
	src: url("/fonts/pretendard/woff2/Pretendard-Regular.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: medium;
	font-display: swap;
	src: url("/fonts/pretendard/woff2/Pretendard-Medium.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-style: semibold;
	font-display: swap;
	src: url("/fonts/pretendard/woff2/Pretendard-SemiBold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: bold;
	font-display: swap;
	src: url("/fonts/pretendard/woff2/Pretendard-Bold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-style: bolder;
	font-display: swap;
	src: url("/fonts/pretendard/woff2/Pretendard-ExtraBold.subset.woff2") format('woff2');
}


@font-face {
    font-family: 'NanumHuman';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-ExtraLight.woff2") format('woff2');
}

@font-face {
    font-family: 'NanumHuman';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-Light.woff2") format('woff2');
}

@font-face {
    font-family: 'NanumHuman';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'NanumHuman';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'NanumHuman';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-ExtraBold.woff2") format('woff2');
}

@font-face {
    font-family: 'NanumHuman';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/nanum-human/woff2/NanumHuman-Heavy.woff2") format('woff2');
}