.animation {
    // position: relative;

    &.shaking {
        animation: shaking 0.15s alternate 1;
    }

    &.hovering {
        animation: hovering 0.75s alternate;
    }

    // 애니메이션 : 점 3개
    > .dot {
        width: 0.8rem;
        height: 0.8rem;
        margin: 0 5px;
        border-radius: 50%;
        animation: blinking 1.2s infinite alternate;
        box-shadow: 0 0 34px 12px #ffffff90;
    
        &:nth-child(1) {
            animation-delay: 0s;
        }
    
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
    
        &:nth-child(3) {
            animation-delay: 0.6s;
        }
    }

    &.glowing {
        &-dark,
        &-light {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: -4rem;
                filter: blur(70px);
                width: 3.2rem;
                height: calc(100% + 8rem);
                animation: glowing 2.5s ease-in-out infinite;
                pointer-events: none;
            }
        }
        
        &-dark {
            &::after {
                background: #0000007c;
            }
        }
        
        &-light {
            &::after {
                background: #ffffffce;
            }
        }
    }
}
  

