// 애니메이션 : 스켈레톤 UI 로딩
@keyframes skeleton-loading {
    0% {
        background-color: var(--color-gray-100);
    }
    50% {
        background-color: var(--color-gray-200);
    }
    100% {
        background-color: var(--color-gray-100);
    }
}

// 애니메이션 : 스켈레톤 UI 로딩
@keyframes blinking {
    0% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0.3);
    }
    100% {
        filter: opacity(1);
    }
}

// 애니메이션: 슬라이더 반짝임 효과
@keyframes glowing {
    0% {
        transform: skew(-20deg) translateX(calc(0dvw - 17.2rem));
    }

    100% {
        transform: skew(-20deg) translateX(calc(100dvw + 50.2rem));
    }
}

@keyframes shaking {
    0% {
      transform: translateX(0) translateY(-50%);
    }
    25% {
      transform: translateX(-10px) translateY(-50%);
    }
    50% {
      transform: translateX(10px) translateY(-50%);
    }
    75% {
      transform: translateX(-10px) translateY(-50%);
    }
    100% {
      transform: translateX(0) translateY(-50%);
    }
}

@keyframes hovering {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    25% {
      transform: translateX(-50%) translateY(10px);
    }
    50% {
      transform: translateX(-50%) translateY(-8px);
    }
    75% {
      transform: translateX(-50%) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
}

// @keyframes hovering {
//   0% {
//     transform: translateX(-50%) translateY(0);
//   }
//   25% {
//     transform: translateX(-50%) translateY(-10px);
//   }
//   50% {
//     transform: translateX(-50%) translateY(8px);
//   }
//   75% {
//     transform: translateX(-50%) translateY(-3px);
//   }
//   100% {
//     transform: translateX(-50%) translateY(0);
//   }
// }
