.tag {
    border: 1px solid black;
}

.tab {
    // display: flex;

    > button {
        padding: 0.9rem 0;
        // color: #AAABB7;
        // border-bottom: 2px solid #AAABB7;
        
        font-weight: 700;
        font-size: 1.5rem;

        &.active {
            border-color: #161617;
            color: #26262D;
        }
    }
}

.toggle-container {
    width: "100px";
    height: "50px";
    background-color: "#ededed";
    border-radius: "50px";
    cursor: "pointer";
    display: "flex";
    padding: "10";

    .toggle-handle {
        width: "50";
        height: "50";
        background-color: "#9911ff";
        border-radius: "50%";
    }
}

.divider {
    &.vertical {
        width: 0.1rem;
        border: none;
        background: var(--color-gray-50);
    }
    
    &.horizontal {
        height: 0.1px;
        background: var(--color-gray-50);
    }
}

.filter {
    display: flex;
    gap: 0.8rem;

    > button {
        position: relative;
        padding-left: 1.2rem;
        font-size: 1.3rem;

        &::after {
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 100px;
            background: var(--color-gray-400);
            position: absolute;
            top: 50%;
            left: calc(0.6rem / 2);
            transform: translate(0, -50%);
        }

        &.active {
            &::after {
                background: var(--color-brand-500);
            }
        }
    }
}

.button {
    font-size: 1.7rem;
    font-weight: 500;
}

.bottomSheetInner {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50%;
    z-index: 10000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    // gap: 1.6rem;
    width: 100%;
    max-width: calc(var(--tablet) - (1.6rem * 2));
    background-color: white;
    // padding: 1.6rem;
    padding: 1.6rem 1.6rem 4.0rem 1.6rem;
    
    border-radius: 1.4rem 1.4rem 0 0;
    max-height: calc(100vh - (1.6rem * 1));
    overflow-y: auto;
    box-shadow: 0 calc(260px * 1) 0 0 #fff, 0 calc(260px * 2) 0 0 #fff, 0 calc(260px * 3) 0 0 #fff, 0 calc(260px * 4) 0 0 #fff;

    .modalheader {
        display: flex;
        justify-content: space-between;
        cursor: grab;

        > h2 {
            text-align: left;
            font-weight: bold;
            font-size: 2.0rem;
            user-select: none;
            color: var(--color-gray-800);
            pointer-events: none;
        }
    }

    .modalBody {
        display: flex;
        flex-direction: column;
        // gap: 2.0rem;
        height: 100%;
    }

    .modalFooter {
        display: flex;
        gap: 0.8rem;
        flex-wrap: wrap;

        > button {
            padding: 1.5rem 1.8rem;
            border-radius: 0.8rem;
            flex: 1;
            
            &:first-child {
                background: var(--color-gray-200);
            }

            &:last-child {
                background: #F50F5A;
                color: white;
            }
        }
    }

    .modalGuide {
        width: 100%;
    }
}

.pageTitle {
    padding: 2.0rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--letter-line-height);
    // white-space: pre;
}

.shimmerText_back {
    display: inline-block;
    position: relative;
    background-image:
        linear-gradient(
            45deg,
            var(--color-brand-500) 0%,
            rgba(0, 0, 0, 1) 50%,
            var(--color-brand-500) 100%
        );
    background-size: 200% 100%;
    // background-repeat: repeat-x;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: 3s linear infinite wave-horzontal;

    // 다크모드 대응
    @media (prefers-color-scheme: dark) {
        background-image:
        linear-gradient(
            45deg,
            var(--color-brand-500) 0%,
            rgba(0, 0, 0, 1) 50%,
            var(--color-brand-500) 100%
        );
    }

    @keyframes wave-horzontal {
        0% {
            background-position: -50% 0; /* 시작 위치 */
        }

        100% {
            background-position: 150% 0; /* 끝 위치 */
        }
    }
}

.drop_down {
    position: relative;
    cursor: pointer;
    z-index: 100;

    > .list {
        margin-top: 1.2rem;
        position: absolute;
        right: 0;
        // top: 0;
        // width: 100%;
        background: white;
        box-shadow: var(--shadow-normal);
        border-radius: 1.6rem;
        padding: 0.4rem;
        z-index: 100;

        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        backdrop-filter: blur(20px);
        background: #e8e9f000;
        transition: background-color .25s cubic-bezier(.075, .82, .165, 1);

        > button {
            cursor: pointer;
            padding: 1.6rem;
            white-space: nowrap;
            border-radius: 1.6rem;

            &:hover {
                background: white;
                box-shadow: var(--shadow-normal);
            }
        }
    }
}

// -----------

.skeleton_wrapper_container {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
  width: 100%;

    > .skeleton {
        height: 100%;
        // background-color: #e5e7eb; // 기본 gray-200

        animation: pulse 1.4s ease-in-out infinite;
        background: linear-gradient(270deg, var(--color-gray-100), #f3f4f6, var(--color-gray-100));
        background-size: 400% 400%;
    }

    @keyframes pulse {
        0% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

// .min-width-2-4rem {
//   min-width: 2.4rem;
// }

// .min-height-2-0rem {
//   min-height: 2.0rem;
// }

// .skeleton-absolute {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .skeleton-inner {
//   width: 100%;
//   height: 100%;
// }

// .skeleton {
//   width: 100%;
//   height: 100%;
//   background-color: #e5e7eb; // 기본 gray-200
//   border-radius: 0.25rem;
// }

// .animation-glow {
//   animation: pulse 1.4s ease-in-out infinite;
//   background: linear-gradient(270deg, #e5e7eb, #f3f4f6, #e5e7eb);
//   background-size: 400% 400%;
// }

// /* 추가적으로 필요한 타입별 클래스 예시 */
// .skeleton.text {
//   height: 1rem;
// }

// .skeleton.title {
//   height: 1.6rem;
//   width: 50%;
// }

// .skeleton.avatar {
//   border-radius: 50%;
//   width: 3rem;
//   height: 3rem;
// }

// .skeleton.thumbnail {
//   height: 12rem;
// }

// .skeleton.containers {
//   height: 8rem;
// }

// .skeleton.item {
//   height: 4rem;
// }