#handle {
    &ToolHandle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        
        cursor: col-resize;
        // opacity: .3;
        background: transparent;
        // background: linear-gradient(0deg, transparent, var(--color-gray-400) 40%, var(--color-gray-400) 60% , transparent);
        border-radius: 100px;
        width: .4rem;
        height: 100%;
        // height: 12.8rem;
        margin: auto 0;
        // margin: auto 1.2rem auto 0;
        transition: 0.5s cubic-bezier(.075, .82, .165, 1) all;
    
        &:hover {
            transform: scaleX(2.2);
            background: linear-gradient(0deg, transparent, #3c9aff 40%, #3c9aff 60% , transparent);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &PreviewVerticalHandle {
        position: absolute;
        top: 50%;
        right: 0;
        width: 0.4rem;
        height: 15rem;
        transform: translate(0, -50%);
        background: linear-gradient(0deg, transparent, #3c9aff 40%, #3c9aff 60% , transparent);
        margin: 0 auto;
        cursor: col-resize;
    
        &:hover {
            opacity: 1;
        }
    }

    &PreviewHorizontalHandle {
        // width: 100%;
        background: linear-gradient(90deg, transparent, #3c9aff 40%, #3c9aff 60% , transparent);
        // background: linear-gradient(90deg, transparent 20%, #095EB9, transparent 80%);
        height: 0.4rem;
        width: 15.0rem;
        cursor: col-resize;
        // transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
        // opacity: 0;
        margin: 0 auto;
    
        &:hover {
            opacity: 1;
        }
    }

    &NoticeHandle {
        // width: 100%;
        background: linear-gradient(90deg, transparent, #3c9aff 40%, #3c9aff 60% , transparent);
        // background: linear-gradient(90deg, transparent 20%, #095EB9, transparent 80%);
        height: 0.4rem;
        width: 15.0rem;;
        cursor: col-resize;
        // transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
        // opacity: 0;
        margin: 0 auto;
    
        &:hover {
            opacity: 1;
        }
    }
}