.page-loader {
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background: white;

    > section {
        &:first-child {}

        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
        }
    }
}

.config-loader {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background: white;
    overflow: hidden;
    // border-radius: 3.2rem;

    > section {
        &:first-child {}

        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;

            padding: calc(1.6rem * 2);

            h2,
            p {
                font-family: "NanumMyeongjo";
                text-wrap-style: balance;
                text-align: center;
                line-height: 1.5;
                white-space: break-spaces;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - (1.6rem * 2));
        height: calc(100% - (1.6rem * 2));
        // background: red;
        border: 1px solid var(--color-gray-300);
        pointer-events: none;
    }
}